<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu quadro</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand color-violet fw-bold">Meu quadro</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
          <button class="btn bg-violet" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
  </header>
  <main>
    <div class="container-fluid board mt-4">
      <div class="row">
        <div class="col-md-3">
          <h2 class="fs-6 fw-normal">A fazer (<span id="todo"></span>)</h2>
          <add-button></add-button>
          <task-card></task-card>
        </div>
        <div class="col-md-3">
          <h2 class="fs-6 fw-normal">Fazendo (<span id="doing"></span>)</h2>
          <add-button></add-button>
        </div>
        <div class="col-md-3">
          <h2 class="fs-6 fw-normal">Concluido (<span id="done"></span>)</h2>
          <add-button></add-button>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container-fluid">
      <p class="text-center">Desenvolvido por <a class="color-violet" href="https://github.com/Andersonmpereira" target="_blank">Anderson Pereira</a></p>
    </div>
  </footer>
</body>
</html>
